.col-md-3
  .panel.panel-primary
    /.panel-heading
    .panel-body
      %h4 Create New Flock
      %p Some Description
      %div When: @ Some good time
      %div Where: @ Some good place
    .panel-footer
      %button#createevent.btn.btn-primary{:style => "width:100%",:"data-bind" => "click : createEvent"} Create Flock
