%h4{:"data-bind" => "text: detailedEvent().ename()"}
%p{:"data-bind" => "text: detailedEvent().description()"}
%div{:"data-bind" => "text: 'When: ' + detailedEvent().date()"}
%div{:"data-bind" => "text: 'Where: ' + detailedEvent().place()"}
%br
%div{:"data-bind" => "text: 'Fees: ' + detailedEvent().fees()"}
%div{:"data-bind" => "text: 'Prize: Rs.' + detailedEvent().prize()"}
%div{:"data-bind" => "text: 'Timings: ' + detailedEvent().time()"}
%button.btn.btn-primary{:"data-bind" => "click: detailedEvent().showParticipants"}Friends participating
%div{:"data-bind" => "visible : detailedEvent().participants().length, foreach :detailedEvent().participants"}
	%div{:"data-bind" => "text : $data"}
