%h4{:"data-bind" => "text: detailedEvent().ename()"}
%p{:"data-bind" => "text: detailedEvent().description()"}
%div{:"data-bind" => "text: 'When: ' + detailedEvent().date()"}
%div{:"data-bind" => "text: 'Where: ' + detailedEvent().place()"}
