.footer
  .container
    %br
    .row
      %ul.list-inline.text-right
        %li
          %a{:href => "/about"} about
        %li
          %a{:href => "/legal"} legal
        %li
          %a{:href => "/support"} support
      .text-right &copy; #{SiteConfig.author} #{Date.today.year}
  %script{:src => "../assets/js/jquery.min.js"}
  //dropdown does not work, if i use this
  //%script{:src => "../assets/js/bootstrap.min.js"}
  /%script{:src => "../assets/js/error.js"}

