.col-md-10
  .panel.panel-primary#leaderboard
    .panel-heading.text-center
      %h3
        LEADER-BOARD
    .panel-body
      .panel.panel-default
        .panel-heading
          .row
            .col-md-5
              %h4
                Name
            .col-md-5
              %h4
                College
            .col-md-2
              %h4
                points
      .panel-group#accordion{:'data-bind' => "foreach: topprofiles"}
        =haml_partial "Userview"
