.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse" , :type => "button" ,  "data-toggle" => "collapse" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        %b FLOCKERS
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        /%li
        /  %a{:href => "#" , :"data-bind" => "click : showMyEvents"}My Events
        /%li
        /  %a{:href => "#",:"data-bind" => "click : showParticipationEvents"}Participated Events
        /%li
        /  .input-append
        /    %input{:placeholder => 'Search by Event Name',:type =>"text",:"data-bind" => "value: event().ename"}
        /    %button.btn.btn-primary{:"data-bind" => "click : searchEvent"}Search
      %ul.nav.navbar-nav.navbar-right
        %li
          /=if loggedIn?
          /%button.btn.btn-danger{:"data-bind" => "click : signOut"} Sign Out
          /=else
          %button.btn.btn-success{"data-target" => "#signInModal", "data-toggle" => "modal"} Sign In
          %button.btn.btn-primary{"data-target" => "#signUpModal", "data-toggle" => "modal"} Sign Up
          /=end


