.panel.panel-default
  .panel-heading
    %a{:"data-toggle" => "collapse",:"data-parent" => "#accordion",:href => "#collapseOne"}
      .row
        .col-md-5
          %h4
            DeenBandhu Agrawal
        .col-md-5
          %h4
            MNIT
        .col-md-2
          %h4
            100
  #collapseOne.panel-collapse.collapse
    .panel-body
      %p
        hello deenbandhu my name is deenbandhu
