!!!
%html{:lang => "en"}
  %head
    %title Event Planner
    %link{:href => "../assets/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/jumbotron.css", :rel => "stylesheet"}
  %body
    .container
      =haml_partial "topBar"

      .jumbotron
        %h1 Flockers
        %p A site to reveal the FUN SIDE of you.

      .row
        %p.alert.alert-danger#InvalidUser{:style => 'visibility : hidden',:'data-bind' => 'text : error'}
        %p.alert.alert-success#SuccessfulSignup{:style => 'visibility : hidden'}You have signed up successfully
      =haml_partial "eventCard"
      #signInModal.modal.fade{"aria-hidden" => "true", "aris-labelledby" => "signInModal",:role => "dialog" ,:tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4.modal-title Sign In
            .modal-body
              %form.form-horizontal{:role => "form"}                    
                .form-group
                  %label.col-sm-4.control-label Username
                  .col-sm-6
                    %input.form-control{:"data-bind" => "value : uname", :placeholder => "Email address",:type => "text"}
                      
                .form-group
                  %label.col-sm-4.control-label Password
                  .col-sm-6
                    %input.form-control{:"data-bind" => "value : pas", :placeholder => "Password",:type => "password"}
                          
                .form-group
                  .col-sm-offset-4.col-sm-6
                    .checkbox
                      %label
                        %input.checkbox{:type => "checkbox", :value => "remember-me"}
                        Remember me
                .form-group
                  .col-sm-offset-4.col-sm-6
                    %button#show.btn.btn-large.btn-primary{:'data-dismiss' => "modal",:"data-bind" => "click : login"} Sign In              
      #signUpModal.modal.fade{"aria-hidden" => "true", "aris-labelledby" => "signUnModal",:role => "dialog" ,:tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4.modal-title Sign Up
            .modal-body
              %form.form-horizontal{:role => "form"}                    
                .form-group
                  %label.col-sm-4.control-label Username
                  .col-sm-6
                    %input.form-control{:placeholder => "Email address",:type => "text",:'data-bind' => "value : uname"}
                      
                .form-group
                  %label.col-sm-4.control-label Create Password
                  .col-sm-6
                    %input.form-control{:placeholder => "Create Password",:type => "password",:'data-bind' => "value : pass"}
            
                .form-group
                  %label.col-sm-4.control-label Confirm Password
                  .col-sm-6
                    %input.form-control{:placeholder => "Confirm Password",:type => "password",:'data-bind' => "value : confirmpass"}
            
                .form-group
                  .col-sm-offset-4.col-sm-6
                    %button#show.btn.btn-large.btn-primary{:'data-dismiss' => "modal",:'data-bind'=> " click : signup", :type => "submit"} Sign Up               
    /%script{:src => "../assets/js/login.js"}
    %script{:src => "../assets/js/knockout-2.2.1.js"}  
    %script{:src => "../assets/js/jquery.min.js"}
    %script{:src => "../assets/js/bootstrap.min.js"}  
    %script{:src => "../assets/js/participate.js"} 
