!!!
%html{:lang => "en"}
  %head
    %title Create Flock
    /%link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel=>"stylesheet"}
    %link{:href => "../assets/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/bootstrap-timepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/datepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/navbar-fixed-top.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/style.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "../assets/js/jquery.min.js"}
    /%script{:src => "../assets/js/jquery.wheelmenu.js", :type => "text/javascript"}
  %body.main
    =haml_partial "topBar"
    .container
      .row
        %input.hide{:id =>"current_user", :value => "#{@user}"}
        %input.hide{:id =>"current_user_id", :value => "#{@userid}"}
        %p.hide.alert.alert-info{:"data-bind" => "visible: message, text: message"}

      %div#event
        .row
          =haml_partial "progress"
        .row
          %h4.alert.alert-info.text-center{:'data-bind' => 'text : displaySelectedActivity'}
          %span.label.label-info
            Choose Verb
          %div.panel.panel-info
            /%div.panel-heading
            /%h4{:href => "#wheel"} I would love to
            %div.panel-body{:style => "text-align:center"}
              %div{:'data-bind' => 'foreach : verb'}
                .col-sm-3.col-md-2
                  .thumbnail
                    .caption
                      %button.btn.btn-lg.btn-link{:'data-bind' => 'text : $data,click : function() { $root.getActivities($data);}'}

        .row{:'data-bind' => 'visible : activities().length'}
          %span.label.label-warning
            Choose Activity
          %div.panel.panel-warning
            /%div.panel-heading
            /  %h4{:'data-bind' => 'text : selectedVerb'}
            %div.panel-body{:style => "text-align:center"}
              %div{:'data-bind'=>'foreach:activities'}
                .col-sm-3.col-md-2
                  .thumbnail
                    /%i.fa.fa-camera-retro.fa-5x
                    /%img{alt: "...", "data-src" => "holder.js/300x200"}/
                    .caption
                      %button.btn-warning.btn.btn-lg.btn-link{:'data-bind'=>"click : function(){$root.searchEventByActivity($data);},text:$data", :style => "width:100%"}
              .col-sm-4.col-md-4
                .thumbnail
                  /%i.fa.fa-camera-retro.fa-5x
                  /%img{alt: "...", "data-src" => "holder.js/300x200"}/
                  .caption
                    %form.form-inline{role: "form"}
                      .form-group
                        %input.form-control{:placeholder => "Activity", :type => "text", :'data-bind' => "value : newActivity"}
                      %button.btn.btn-default{:type => "button", :'data-bind'=> "click: addActivity"}
                        %span.glyphicon.glyphicon-plus
                        Add

        .row{:'data-bind' => 'visible : createEventState'}
          %div
            %span.label.label-danger
              Choose or Create Flock
            %div.panel.panel-danger
              /%div.panel-heading
              /  %h4{:'data-bind' => 'text : selectedActivity'}
              %div.panel-body
                %div{:"data-bind"=>"visible : searchedEvents().length, foreach:searchedEvents"}
                  =haml_partial "eventCard"
                =haml_partial "createEventCard"

        .row{:"data-bind"=>"visible : detailedState()"}
          %span.label.label-success
            Flock Details
          %div.panel.panel-success
            /%div.panel-heading
            /  %h4{:'data-bind' => 'text : selectedActivity'}
            %div.panel-body
              =haml_partial "eventdetails"

        .row{:'data-bind' => 'visible : participationEvents().length'}
          %span.label.label-danger
            My Events
          %div.panel.panel-info
            %div.panel-heading
              %h4{:'data-bind' => 'text : selectedActivity'}
            %div.panel-body{:"data-bind"=>"foreach:myEvents"}
              =haml_partial "eventCard"

        .row.thumbnail{:'data-bind' => 'visible : showCreateEventForm()'}               
          %h4 Create Event             
          %form.form-horizontal{:role => "form"}                   
            .form-group
              %label.col-sm-4.control-label event name
              .col-sm-6
                %input{:placeholder => "enter event name", :"data-bind" => "value: event().ename", :required => "", :type => "text"}

            .form-group
              %label.col-sm-4.control-label event date
              .col-sm-6
                %input{:"data-bind" => "value: event().date", :required => "",:type => 'date', :placeholder => "click to pick"}  

            .form-group
              %label.col-sm-4.control-label event time
              .col-sm-6
                %input{:"data-bind" => "value: event().time", :required => "", :type => "text"}

            .form-group
              %label.col-sm-4.control-label event place
              .col-sm-6
                %input{:"data-bind" => "value: event().place", :required => "", :type => "text"}

            .form-group
              %label.col-sm-4.control-label event fees
              .col-sm-6
                %input{:"data-bind" => "value: event().fees", :type => "text"}

            .form-group
              %label.col-sm-4.control-label event prize
              .col-sm-6
                %input{:"data-bind" => "value: event().prize", :type => "text"}

            .form-group
              %label.col-sm-4.control-label event description
              .col-sm-6
                %textarea{:"data-bind" => "value: event().description"}

          
            %button.btn.btn-success{:'data-dismiss' => "modal",:"data-bind" => "click : createEventHelper"} create 

      =haml_partial "footer"

      %script{:src => "../assets/js/knockout-2.2.1.js"} 
      %script{:src => "../assets/js/bootstrap.min.js"}  
      %script{:src => "../assets/js/event.js"}
      %script{:src => "../assets/js/user.js"}
      /%script{:src => "../assets/js/wheel.js"}
