!!!
%html{:lang => "en"}
  %head
    %title Create Flock
    %link{:href => "../assets/css/jumbotron.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/bootstrap-timepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/datepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/navbar-fixed-top.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/custom.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/style.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "../assets/js/jquery.min.js"}
    %script{:src => "../assets/js/jquery.wheelmenu.js", :type => "text/javascript"}
  %body.main
    =haml_partial "topBar"
    .container
      .row
        %input.hide{:id =>"current_user", :value => "#{@user}"}
        %input.hide{:id =>"current_user_id", :value => "#{@userid}"}
        /%p.alert.alert-info{:"data-bind" => "visible: message, text: message"}
    %div#event
      .row{:style => "padding-top:40px;"}
        .col-md-4
          %div.panel.event-panel{'data-bind' => "visible : myEvents().length"}
            %div.panel-heading.event
              %h4{:style => "text-align:center"} My Events
            %div#display.panel-body{:"data-bind"=>"foreach:myEvents"}
              =haml_partial "eventCard"
              %button#delete.btn-primary{:"data-bind" => "click : DeleteEvent"}Delete Me
    
          %div.panel.event-panel{'data-bind' => "visible : participationEvents().length"}
            %div.panel-heading.event
              %h4{:style => "text-align:center"} Participated Events
            %div#display.panel-body{:"data-bind"=>"foreach:participationEvents"}
              =haml_partial "eventCard"
              %button#deleteParticipation.btn-primary{:"data-bind" => "click : deleteParticipateEvent"}Delete Me
          %div.panel.event-panel{'data-bind' => "visible : topEvents().length"}
            %div.panel-heading.event
              %h4{:style => "text-align:center"} Top Trends
            %div#display.panel-body{:"data-bind"=>"foreach:topEvents"}
              =haml_partial "eventCard"
              %button#option.btn.btn-panel{:'data-bind' =>'click : participate'}Participate
          
        .col-md-4
          .main{:style => 'height: 200px'}
            %a.wheel-button{:href => "#wheel"} I would love to
            .pointer
            %ul#wheel.wheel{:'data-bind' => 'foreach : verb'}
              %li.item
                %a{:'data-bind' => 'text : $data,click : function() { $root.getActivities($data);}'}

        .col-md-4
          %div.panel.event-panel
            %div.panel-heading.event
              %h4{:style => "text-align:center;color:#fff"} Active Participants
            %div.panel-body{:"data-bind"=>"foreach:topParticipants"}
              %p{:'data-bind' => "text: uname"}
      .row-fluid{:style => "padding :30px;"}
        .col-md-4
          %div.panel.event-panel{:'data-bind' => 'visible : activities().length'}
            %div.panel-heading.event
              %h4{:style => "text-align:center",:'data-bind' => 'text : displaySelectedVerb'}
            %div.panel-body{:'data-bind'=>'foreach:activities'}
              %button.btn-danger.btn.btn-large{:'data-bind'=>"click : function(){$root.searchEventByActivity($data);},text:$data"} 
        .col-md-4
        .col-md-4
          %div.panel.panel-info{:'data-bind' => 'visible : searchedEvents().length',:style => "background : rgba(0,0,0,0.2);border-color: #000;box-shadow: 10px 10px 10px #000"}
            %div.panel-heading{:style => "background:#000;border-color:#000"}
              %h4{:style => "text-align:center;color:#fff",:'data-bind' => 'text : displaySelectedActivity'}
            %div.panel-body{:style => "text-align:center",:"data-bind"=>"foreach:searchedEvents"}
              =haml_partial "eventCard"
          %button#CreateEvent.btn.btn-success.btn-large{"data-target" => "#createEventModal", "data-toggle" => "modal" , :"data-bind" => "click : createEvent , visible : createEventState"} Create Event

      
       

      #createEventModal.modal.fade{"aria-hidden" => "true", "aris-labelledby" => "createEventModal",:role => "dialog" ,:tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4.modal-title Create Event
            .modal-body
              %form.form-horizontal{:role => "form"}                   
                .form-group
                  %label.col-sm-4.control-label Event Name
                  .col-sm-6
                    %input{:placeholder => "Enter Event Name", :"data-bind" => "value: event().ename", :required => "", :type => "text"}

                .form-group
                  %label.col-sm-4.control-label Event Date
                  .col-sm-6
                    %input{:"data-bind" => "value: event().date", :required => "",:type => 'date', :placeholder => "Click to Pick"}  

                .form-group
                  %label.col-sm-4.control-label Event Time
                  .col-sm-6
                    %input{:"data-bind" => "value: event().time", :required => "", :type => "text"}
			
                .form-group
                  %label.col-sm-4.control-label Event Place
                  .col-sm-6
                    %input{:"data-bind" => "value: event().place", :required => "", :type => "text"}

                .form-group
                  %label.col-sm-4.control-label Event Fees
                  .col-sm-6
                    %input{:"data-bind" => "value: event().fees", :type => "text"}

                .form-group
                  %label.col-sm-4.control-label Event Prize
                  .col-sm-6
                    %input{:"data-bind" => "value: event().prize", :type => "text"}

                .form-group
                  %label.col-sm-4.control-label Event Description
                  .col-sm-6
                    %textarea{:"data-bind" => "value: event().description"}
                .form-group
                  .col-sm-offset-4.col-sm-6    
                    %button.btn-large{:'data-dismiss' => "modal",:"data-bind" => "click : createEventHelper"} Create 

    %script{:src => "../assets/js/knockout-2.2.1.js"} 
    %script{:src => "../assets/js/bootstrap.min.js"}  
    /%script{:src => "../assets/js/profile.js"}
    %script{:src => "../assets/js/event.js"}
    %script{:src => "../assets/js/user.js"}
    %script{:src => "../assets/js/wheel.js"}
