!!!
%html{:lang => "en"}
  %head
    %title Event Planner
    %link{:href => "../assets/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/bootstrap-timepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/datepicker.css", :rel => "stylesheet"}
  %body
    .container
      .row
        .span4
          %h1 Flockers
      .row
        .span8
          %form
            %input{:placeholder => 'Search by Event Name',:type =>"text",:"data-bind" => "value: event().ename"}
            %button.btn-primary{:"data-bind" => "click : searchEvent"}Search 
        .span4
          %button.btn.btn-danger{:"data-bind" => "click : signOut"} Sign Out
      %input.hide{:id =>"current_user", :value => "#{@user}"}
      %p.alert.alert-info{:"data-bind" => "visible: message, text: message"}
      %button.btn-primary.btn{:"data-bind" => "click : showMyEvents"}My Events 
      .row
        .span12
          %label Would you like to play:
          %div{:"data-bind"=>"foreach:topEvents",:border => '0'}
            %button.btn-success{:"data-bind" => "text :event,  click: function () { $root.searchEventHelper(event);} "}
      .row
        .span12
          %table.table.table-striped{:"data-bind"=>"foreach:searchEvents",:border => '0'}
            %tr
              %td{:"data-bind" => "text : ename()"}
              %td{:"data-bind" => "text : date()"}
              %td{:"data-bind" => "text : fees()"}
              %td{:"data-bind" => "text : prize()"}
              %td{:"data-bind" => "text : place()"}
              %td{:"data-bind" => "text : time()"}
              %td{:"data-bind" => "text : description()"}
              %td
                %button.btn-primary{}Participate
        .row
          .span12
            %button#CreateEvent.btn-success.btn-large{"data-target" => "#createEventModal", "data-toggle" => "modal" , :"data-bind" => "click : createEvent , visible : createEventFlag"} Create Event
            %table.table.table-striped{:"data-bind"=>"foreach:myEvents",:border => '0'}
              %tr
                %td{:"data-bind" => "text : ename()"}
                %td{:"data-bind" => "text : date()"}
                %td{:"data-bind" => "text : fees()"}
                %td{:"data-bind" => "text : prize()"}
                %td{:"data-bind" => "text : place()"}
                %td{:"data-bind" => "text : time()"}
                %td{:"data-bind" => "text : description()"}
                %td
                  %button.btn-primary{:"data-bind" => "click : DeleteEvent"}Delete Me
      #createEventModal.modal.fade.hide
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4.modal-title Create Event
        .modal-body
          %form                   
            %label Event Name
            %input{:placeholder => "Enter Event Name", :"data-bind" => "value: event().ename", :required => "", :type => "text"}
                      
            %label Date
            %input{:"data-bind" => "value: event().date", :required => "",:type => 'date', :placeholder => "Click to Pick"}  

            %label Time
            %input{:"data-bind" => "value: event().time", :required => "", :type => "text"}

            %label Fees
            %input{:"data-bind" => "value: event().fees", :type => "text"}

            %label Prize
            %input{:"data-bind" => "value: event().prize", :type => "text"}

            %label Place
            %input{:"data-bind" => "value: event().place", :required => "", :type => "text"}

            %label Description
            %textarea{:"data-bind" => "value: event().description"}
      
        .modal-footer
          %button.btn-large{:'data-dismiss' => "modal",:"data-bind" => "click : createEventHelper"} Create 
    %script{:src => "../assets/js/knockout-2.2.1.js"} 
    %script{:src => "../assets/js/jquery.min.js"}
    %script{:src => "../assets/js/bootstrap.min.js"}  
    %script{:src => "../assets/js/profile.js"}
