!!!
%html{:lang => "en"}
  %head
    %title Create Flock
    %script{:src => "//code.jquery.com/jquery-latest.min.js"}
    %link{:href => "../assets/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/bootstrap-timepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/datepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/navbar-fixed-top.css", :rel => "stylesheet"}

    
    %script{:src => "../assets/js/jquery.wheelmenu.js", :type => "text/javascript"}
    %link{:href => "../assets/css/style.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .container
      =haml_partial "topBar"

      .row
        %input.hide{:id =>"current_user", :value => "#{@user}"}
        %input.hide{:id =>"current_user_id", :value => "#{@userid}"}
        %p.alert.alert-info{:"data-bind" => "visible: message, text: message"}

      .row
        .main{:style => 'height: 200px;'}
          %a.wheel-button{:href => "#wheel"} I would love to
          .pointer
          %ul#wheel.wheel{:'data-bind' => 'foreach : category'}
            %li.item
              %a{:'data-bind' => 'text : $data,click : function() { $root.getActivities($data);}'}

      .row
        %div.panel.panel-danger{:'data-bind' => 'visible : activities().length'}
          %div.panel-heading
            %h4{:style => "text-align:center",:'data-bind' => 'text : selectedCategory'}
          %div.panel-body{:'data-bind'=>'foreach:activities'}
            %button.btn-danger.btn.btn-large{:'data-bind'=>"click : function(){$root.searchEventByActivity($data);},text:$data"} 
      .row
        %div.panel.panel-info{:'data-bind' => 'visible : searchedEvents().length'}
          %div.panel-heading
            %h4{:'data-bind' => 'text : selectedActivity'}
          %div.panel-body{:"data-bind"=>"foreach:searchedEvents"}
            =haml_partial "eventCard"
            %button#CreateEvent.btn.btn-success.btn-large{"data-target" => "#createEventModal", "data-toggle" => "modal" , :"data-bind" => "click : createEvent , visible : createEventFlag"} Create Event

      .row
        %div.panel.panel-info{:'data-bind' => 'visible : participationEvents().length'}
          %div.panel-heading
            %h4{:'data-bind' => 'text : selectedActivity'}
          %div.panel-body{:"data-bind"=>"foreach:myEvents"}
            =haml_partial "eventCard"

      #createEventModal.modal.fade{:tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4.modal-title Create Event
        .modal-body
          %form                   
            %label Event Name
            %input{:placeholder => "Enter Event Name", :"data-bind" => "value: event().ename", :required => "", :type => "text"}

            %label Date
            %input{:"data-bind" => "value: event().date", :required => "",:type => 'date', :placeholder => "Click to Pick"}  

            %label Time
            %input{:"data-bind" => "value: event().time", :required => "", :type => "text"}

            %label Fees
            %input{:"data-bind" => "value: event().fees", :type => "text"}

            %label Prize
            %input{:"data-bind" => "value: event().prize", :type => "text"}

            %label Place
            %input{:"data-bind" => "value: event().place", :required => "", :type => "text"}

            %label Description
            %textarea{:"data-bind" => "value: event().description"}

        .modal-footer
          %button.btn-large{:'data-dismiss' => "modal",:"data-bind" => "click : createEventHelper"} Create 

    %script{:src => "../assets/js/knockout-2.2.1.js"} 
    %script{:src => "../assets/js/bootstrap.min.js"}  
    %script{:src => "../assets/js/profile.js"}
